
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Oii</h1>
    <p>
      Suas notas foram atualizadas mano!
    </p>
    <p>
      Corre conferir em: https://portal.pucpr.br/intranet/
    </p>
  </body>
</html>